{% load static %}
{% load my_tags %}
<div>
    <aside class="rightBar fixed-right">

        <div class="f"><h3 class="CartFont"> Корзина</h3></div>
        {% if cart_products %}

        <div class="CartBar">
            <ul style="list-style:none; padding:0; ">
                {% for product in cart_products %}

                <li class="f" style="margin-top:20px;">
                    <div>
                <div class="f">

                    <img src="{{product.img|products_media}}" width="80px">

                            <div class="title">
                                <div class="card-title product_srz" style="width:170px;font-size:12px;">{{ product.name}}</div>

                            <div class="f" >
                                <p class="priceCss" style="font-size:15px;width:70px;" >{{product.price}} ₽</p>
                                <div class="f"
                                 style="margin:0 30px;
                                 background-color:rgb(235, 235, 235); font-size:13px; border-radius:0px;
                                  display: flex; align-items: center; justify-content: center; width:50px">

                                <form method="post" action="{% url 'products:product_remove' product.id%}">
                                    {% csrf_token %}
                                    <button class="btn btn-default" type="submit"  id="minus">-</button>
                                </form>


                            <div style="margin: 0 15px;" id="counter">{{product.quantity}}</div>
                            <form action="{% url 'products:product_choice' product.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-default"   id="plus">+</button>
                            </form>

                        </div>

                    </div>

                     </div>
                </li>
                {% endfor %}

            </ul>
            {% else %}

            <hr>
            <div style="margin:100% auto;width:130px"><p class="CartFont" style="font-size:17px">Корзина пуста</p></div>
            <hr>
            <div style="position:absolute;bottom:12%">

                <p class="cartTextFont" >Добавьте товары в корзину</p></div>
            {% endif %}
        </div>

        <div>
            <hr>
            <h5 class ="cartTextFont" > <span style="font-weight:600 ">Итого: </span> {{total_sum_products}}</h5>
            <div class="f" style="gap:30px;">

                <form action="{% url 'products:cart_clear'  %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="category_pk" value="{{ object.parent_category.pk }}">
                    <button class="btn btn-default"  type="submit">Очистить </button>
                </form>
                <div>
                    <button class="btn btn-primary"><a class="text" style="color:white;"
                                                       href="{% url 'orders:cart_order' %}"> Перейти К оплате</a>
                    </button>
                </div>
            </div>
        </div>
    </aside>
</div>