{% load static %}
{% load my_tags %}
    <div>
        <aside class="rightBar fixed-right" >

            <div class="f"><h3> Корзина</h3>  </div>
            {% if cart_products %}

            <div class="CartBar" >
                <ul style="list-style:none; padding:0; ">
                    {% for product in cart_products %}

                    <li class="f" style="margin-top:20px;">
                        <img src="{{product.img|products_media}}" height="80px" width="80px">
                        <div style="width:150px"><p style="margin:0">{{ product.name}}
                        </p>
                            <p style="color:blue; font-size:20px">{{product.price}} ₽</p>
                            <div class="f"
                                 style="background-color:rgb(230, 230, 230); font-size:30px; border-radius:50px; display: flex; align-items: center; justify-content: center;">
                                <div style="font-size:25px;" id="minus">-</div>
                                <div style="margin: 0 25px;" id="counter">{{product.quantity}}</div>
                                <div style="font-size:25px;" id="plus">+</div>
                            </div>
                    </li>
                    {% endfor %}

            </ul>
            {% else %}
            <p>Ваша Коризина пока пуста</p>
                <hr>
                <hr style ='position:relative;top:70%'>
                <div style="position:absolute;bottom:12%">

                <p >Добавьте товары в корзину</p></div>
            {% endif %}
        </div>

            <div >
                <hr>
                <h5> Общая Сумма товаров {{total_sum_products}}</h5>
                <div class="f" style="gap:2px;">

                    <form action="{% url 'products:cart_clear'  %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="category_pk" value="{{ object.parent_category.pk }}">
                        <button class="btn btn-default" type="submit">Очистить корзину</button>
                    </form>
                    <div>
                       <button class="btn btn-primary" ><a class="text" style="color:white;" href="{% url 'users:payment_page' %}"> Перейти к Оплате</a></button>
                    </div>
                </div>
            </div>
 </aside>
    </div>