

{% load my_tags %}

    <div class="col-md-4 mb-4" style="width:210px; padding:5px">

        <div class="card mb-4 box-shadow" style="width:0px;">

            <div class="card-body">
                <a href="{% url 'products:categories' object.pk %}">
                <p class="card-text">{{ object.name }}</p>

                    <img src='{{ object.image|products_media}}'
                         class="image-container">
                </a>


                <div style="display: flex; gap: 10px; margin: 10px; ">
                <a href="{% url 'products:change' object.pk %}" class="btn btn-primary">Изменить</a>
                <form action="{% url 'products:delete_category' object.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">Удалить</button>
                </form>
            </div>
            </div>
        </div>
    </div>
