{% load my_tags %}
          <div class="card-body" style="margin:10px;width:150px;" >
                          {% if user.role == "admin" %}   <a href="{% url 'products:product_update' object.pk %}"> {% endif %}
                                <img src="{{ object.img|products_media }}" width="120"  alt="{{ object.name }}">
                                <p style="color:blue; font-size: 30px;">{{ object.price|floatformat:0 }} ₽</p>
                                <h4 class="card-title">{{ object.name }}</h4>
                            </a>

                           <form action="{% url 'products:product_choice' object.pk %}" method="POST">
                                {% csrf_token %}

                                <input type="hidden" name="category_pk" value="{{ object.pk }}">
                                <button type="submit">Add to Cart</button>
                            </form>
          </div>
