{% extends 'products/base.html' %}
{%load my_tags %}
{% block content%}
<!--<div>-->
<!--    <div class="payment-head">-->
<!--        <h3> Оплата Заказа</h3>-->
<!--    </div>-->
<!--    <form action="">-->
<!--        <div class="form-group">-->
<!--            <label for="inputEm" class="col-lg-2 control-label">-->
<!--               Электронная Почта-->
<!--            </label></div>-->
<!--        <div class="col-lg-10">-->
<!--            <input type="text" class="form-control" id="inputEm" placeholder="Электронная почта">-->
<!--        </div>-->




<!--        <div></div>-->
<!--    </form>-->
<!--                    <form action="{% url 'orders:cart_order' %}" method="post">-->
<!--                        {% csrf_token %}-->
<!--                   <button type="submit" class="btn btn-primary"> Оплатить </button>-->
<!--                    </form>-->


<!--        </div>-->
<!-- <div style="margin-top:300px"><h4> эта страница являеться временой заглушкой так как мне пока что недоступна связь с банками</h4></div>-->
<!--</div>-->


            <div class="row" style="font-size:10px;" >

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div id="template" class="row panel-wrapper">
                                <div class="col-12 panel-header basket-header">
                                    <div class="row">
                                        <div class="col-6 basket-title">
                                            <span class="description">review your</span><br><span class="emphasized">Cart Summary</span>
                                        </div>
                                        <div class="col-6 order-number align-right">
                                            <span class="description">order #</span><br><span class="emphasized">order_number</span>
                                        </div>
                                    </div>
                                    <div class="row column-titles padding-top-10">
                                        <div class="col-2 align-center"><span>Photo</span></div>
                                        <div class="col-5 align-center"><span>Name</span></div>
                                        <div class="col-2 align-center"><span>Quantity</span></div>
                                        <div class="col-3 align-right"><span>Price</span></div>
                                    </div>
                                </div>
                                <div class="col-12 panel-body basket-body">
                                    products
                                    <div class="row product">
                                        <div class="col-2 product-image"><img src="{{thumbnail}}"></div>
                                        <div class="col-5">{{name}}<br><span class="additional">additional</span></div>
                                        <div class="col-2 align-right"><span class="sub">unit</span> quantity</div>
                                        <div class="col-3 align-right"><span class="sub">currency</span> Price</div>
                                    </div>
                                    products
                                </div>
                                <div class="col-12 panel-footer basket-footer">
                                    <hr>
                                    <div class="row">
                                        <div class="col-8 align-right description"><div class="dive">Subtotal</div></div>
                                        <div class="col-4 align-right"><span class="emphasized">currency subtotal</span></div>
                                        <div class="col-8 align-right description"><div class="dive">Taxes</div></div>
                                        <div class="col-4 align-right"><span class="emphasized">currency taxes</span></div>
                                        <div class="col-8 align-right description"><div class="dive">Shipping</div></div>
                                        <div class="col-4 align-right"><span class="emphasized">currency shipping_cost</span></div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-8 align-right description"><div class="dive">Total</div></div>
                                        <div class="col-4 align-right"><span class="very emphasized">currency total</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row panel-wrapper">
                                <div class="col-12 panel-header creditcard-header">
                                    <div class="row">
                                        <div class="col-12 creditcard-title">
                                            <span class="description">please say your</span><br><span class="emphasized">Credit Card Information</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 panel-body creditcard-body">
                                    <form method="post" action="{% url 'users:payment_page' %}">
                                          {% csrf_token %}
                                        <fieldset>
                                            <label for="card-name">Name Card</label><br>
                                            <i class="fa fa-user-o" aria-hidden="true"></i><input type='text' id='card-name' name='card-name' placeholder='John Doe' title='Name on the Card'>
                                        </fieldset>
                                        <fieldset>
                                            <label for="card-number">Card Number</label><br>
                                            <i class="fa fa-credit-card" aria-hidden="true"></i><input type='text' id='card-number' name='card-number' placeholder='1234 5678 9123 4567' title='Card Number'>
                                        </fieldset>
                                        <fieldset>
                                            <label for="card-expiration">Expiration Date</label><br>
                                            <i class="fa fa-calendar" aria-hidden="true"></i><input type='text' id='card-expiration' name='card-expiration' placeholder='YY/MM' title='Expiration' class="card-expiration">
                                        </fieldset>
                                        <fieldset>
                                            <label for="card-ccv">CVC/CCV</label>&nbsp;<i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="The CVV Number on your credit card or debit card is a 3 digit number on VISA, MasterCard and Discover branded credit and debit cards. On your American Express branded credit or debit card it is a 4 digit numeric code."></i><br>
                                            <i class="fa fa-lock" aria-hidden="true"></i><input type='text' id='card-ccv' name='card-ccv' placeholder='123' title='CVC/CCV'>
                                        </fieldset>
                                         <div class="row">
                                        <div class="col-12 align-right"><button class="cancel">Cancel</button>&nbsp;<button type="submit" class="confirm">Confirm & Pay</button></div>
                                    </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

            </div>



{% endblock %}

