{% extends 'products/base.html' %}

{% block content %}
<form  class="user-form" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>
            <ya-tr-span data-index="72-0" data-translated="false" data-source-lang="en" data-target-lang="ru"
                        data-value="Legend" data-translation="Легенда" data-ch="0" data-type="trSpan"
                        style="visibility: inherit !important;">Вход
            </ya-tr-span>
        </legend>

        {% csrf_token %}
        {{form.as_p}}

        <div class="form-group" >
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" style="margin-left:10px">
                    <a href="{%url 'products:index' %}" class="text">Вернуться</a>
                </button>
                <button type="submit" class="btn btn-primary">
                  Войти

                </button>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}