{% extends 'products/base.html' %}
{%load my_tags %}
{%block content%}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header" style="padding:15px;">Мой профиль</div>
            <div class="p-3">
                <p >Почта: {{user.email}}</p>
                <p> css {{user.email}}</p>
                <p >Имя: {{user.first_name|default:"Не указано"}}</p>
                <p >Фамилия: {{user.last_name|default:"Не указано"}}</p>
                <p >Дата Рождения: {{user.date_birth|default:"Не указано"}}</p>
                <p >Телефон: {{user.phone|default:"Не указано"}}</p>
                <p >Телеграм: {{user.telegram|default:"Не указано"}}</p>
                <div class="mt-3">
                    <a class="btn btn-outline-warning me-2" href="{% url 'users:user_update' %}">Обновить</a>
                    <a class="btn btn-outline-warning me-2" href="{% url 'users:user_change_password' %}">Изменить</a>
                    <a class="btn btn-outline-danger" href="{% url 'users:user_generate_new_password' %}">Генерация пароля</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




