{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <link href="{% static 'css/my_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>

<body class="backCol " >

<header  >
    <div class="row " >
        <div class="col-lg-12" style="position: fixed;z-index: 1000; ">

            <div class="bs-component">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">

                            <a class="navbar-brand" href="{%url 'products:index'%}">Наша Еда</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Link</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </div>

    </div>
    </div>
</header>

<main role="main"  >

    <div>
        <aside class="leftBar fixed-left">
            <h3>Категории</h3>
            {%for parent in parent_category_list%}
            <h3>{{parent.name}}</h3>
            <ul class="list-category">
                {% for category in category_list %}
                    {% if category.parent_category.id == parent.id%}
                     <li><a href="{% url 'products:categories' parent.pk %}#targetElement{{ category.pk }}">{{ category.name }}</a></li>
                    {%endif%}
                        {% endfor %}
            </ul>
            {% endfor %}

        </aside>


        <div class="cont" style="position:absolute; top:80px; ">
            <div class="album py-5 bg-light">
                {% block content %}
                {% endblock %}
            </div>
            <footer style="statick: fixed; bottom:0%;">
    <div class="container" >
        <p class="float-right">
            <a href="#"> Back to top </a>
        </p>
        <p>Albim examle is &copy; Bootstap</p>
        <p> new to Bootstrap? <a href="'../../..">Visit the homepage </a> or read our <a href="../../getting-started">
            getting
            started guide</a></p>
    </div>
</footer>
        </div>

    </div>




</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>');</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
</body>
</html>

