{% extends 'products/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    {% for object in objects_list %}
     <div class="col-12">
            <div id="targetElement{{ object.pk }}" style="width:100%">
          {% if user.role == "admin" %}      <a class="text changer" href="{% url 'products:category_update' object.pk %}"> {%endif%}
                    <h2 style="width:100%">{{ object.name }}</h2>
                </a>
            </div>
        </div>
    <div class="row " style="width:80%;">


        {% for product in products_list %}
            {% if product.categoryID == object %}

                      {% include 'products/includes/product_card.html' with object=product %}

            {% endif %}
        {% endfor %}

        {% if user.role == "admin" %}

            <div class="card">
                <div class="card-body" style="height:250px">
                    <a href="{% url 'products:product_create' %}" class="btn btn-primary"
                       style="width:100%; height:100%; padding-top:70%; border-radius:30px;">Добавить новый товар</a>
                </div>
            </div>

        {% endif %}
    </div>
    {% endfor %}
</div>

{% if user.role == "admin" %}
<div class="text-center mt-4">
    <h2>Добавить новую категорию</h2>
    <a href="{% url 'products:category_create' %}" class="text">
        <button class="btn btn-primary elemAdd" style="margin-top:15px;"> +</button>
    </a>
</div>


{% endif %}

{% endblock %}
