{% extends 'products/base.html'%}


{% block content %}


<div class="row">


    {% for object in objects_list %}


        {% include 'products/includes/parent_card.html' with object=object %}


    {% endfor %}
    {%if user.role == "admin" %}
    <div class="col-md-2">
        <div class="card mb-4 box-shadow">
            <a href="{% url 'products:create' %}" style="text-decoration: none; color: inherit;">
                <div class="card-body" style="border: 1px solid black; width: 100%; height: 270px;">
                    <div class="card-body elemAdd">
                        <span style="font-size: 80px;">+</span>
                    </div>
            </a>
        </div>
    </div>

</div>

</div>

<a href="{% url 'products:create' %}" class="btn btn-primary">Создать новую карточку</a>
 {%endif%}
{% endblock %}